* {
    box-sizing: border-box;
    margin: 0px;
}

.one a
{
    background: #ebf706;
    padding:10px 18px;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    font-weight: bold;
    color: #02280f;
}
body {
    margin: 0px;
    font-family: sans-serif;

}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #ebf706;
    padding-left: 100px;
    padding-right: 100px;
    /* position: sticky;
    top: 0px; */
    display: flex;
    justify-content: space-between;

}

.my-name {
    font-size: 25px;
    color:black;
    transition: 0.3s ease;
}

.my-name:hover {
    color: black;
    text-shadow: #ab7e4c;
    transform: scale(1.1);
}

span {
    color: black;
}

.my-name {
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: bolder;
    color: #ebf706;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items {
    width: 40%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

#home {
    /* padding-top: 100px; 
    margin-top: -100px; */
    width: 100%;
    height: 100vh;
    background-color: #02280f;
    display: flex;
    overflow: hidden;
}

.home-right {
    animation: Walk 2s ease-in;
}


.about-left:hover {
    animation: Zoom 1s ease;
}

@keyframes Walk {
    0% {
        transform: translateY(50rem);

    }

    100% {
        transform: translateY(0rem);
    }
}

@keyframes Zoom {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(150%);
    }

    100% {
        transform: scale(100%);
    }
}

.head-one {
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.head-color {
    color: #ebf706;
}

.head-two {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(#ebf706);
}

.home-para {
    font-size: 20px;
    color: white;
}

.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home-left i {
    font-size: 40px;
    color: #ebf706;
}

.home-right {
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media {
    width: 45%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    text-decoration: none;
}

.icon-container {
    width: 60px;
    height: 60px;
    border: 3px solid #ebf706;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.contact-btn {
    width: 150px;
    height: 45px;
    background-color: #ebf706;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 1s;
}

#about {
    /* padding-top: 100px;  */
    /* margin-top: -100px; */
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    overflow: hidden;
}

.about-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right {
    width: 50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-head {
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.about-para {
    font-size: 20px;
    color: white;
}

#skill {
    /* padding-top: 100px; 
    margin-top: -100px; */
    width: 100%;
    height: 100vh;
    background-color: #02280f;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skill-head {
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.skill-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill-sub {
    height: 100%;
    width: 30%;
    background-color: #ebf706;
    border-radius: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skill-sub i {
    font-size: 100px;
}

.skill-para {
    font-size: 20px;
}

.skill-icon-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project {
    /* padding-top: 100px; 
    margin-top: -100px; */
    width: 100%;
    height: 100vh;
    background-color: #036024;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-head {
    font-size: 65px;
    font-weight: bolder;
    color: #ebf706;
}

.project-container {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-sub {
    height: 75%;
    width: 30%;
    background-color: #036024;
    border: 5px solid #ebf706;
    border-radius: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-sub-one {
    background-image: url(Images/Airbnb.png);
    background-size: cover;
}

.project-sub-two {
    background-image: url(Images/LinkedIn.png);
    background-size: cover;
}

.project-sub-three {
    background-image: url(Images/Trivago.png);
    background-size: cover;
}

.project-sub a {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

#contact {
    /* padding-top: 100px; 
    margin-top: -100px; */
    width: 100%;
    height: 100vh;
    background-color: #024a1b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-head {
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.contact-form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-input {
    width: 90%;
    height: 15%;
    padding-left: 20px;
    border-radius: 30px;
    border: 5px solid #ebf706;
}

#message {
    width: 90%;
    height: 35%;
    border-radius: 30px;
    border: 5px solid #ebf706;
    outline: none;
}

#send {
    width: 200px;
    height: 45px;
    background-color: #ebf706;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 1s;
}

.contact-btn:hover {
    transform: scale(1.2);
}

.navbar-items a:hover {
    color: #ebf706;
}

.icon-container:hover {
    background-color: #ebf706;
    transform: scale(1.2);
}

.icon-container i:hover {
    color: white;
}

.contact-form input::placeholder {
    font-size: 20px;
}

#send:hover {
    transform: scale(1.2);
}